.background {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: silver;
  height: 100vh;
}

.parentcard {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  max-width: 500px;
}

h1 {
  width: 100%;
  text-align: center;
}
h2 {
  width: 100%;
  text-align: center;
}
